# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

#IDE
.vscode/
.idea/
*.swp
*.swo

# Projekt-spezifisch
*.egg-info/
dist/
build/
DEVNOTES.md
Beschreibung_Anleitung_FürMich.txt

# OS
.DS_Store
Thumbs.db