# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

#IDE
.vscode/
.idea/
*.swp
*.swo

# Projekt-spezifisch
*.egg-info/
dist/
build/
DEVNOTES.md
Devnotes.md
MeineKommentare.txt
todo.py.backup_20260211_1941
todo.py.backup_20260211_133816
todo.py.KAPUTT

# OS
.DS_Store
Thumbs.db